@charset "UTF-8";


html {
    font-size: 16px;
}

body {
    max-width: 550px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f5fdbe;
}

nav {
    text-align: center
}

nav ul {
        list-style: none;
    }

nav a {
    text-decoration: none;
    margin-bottom: 0.3rem;
    display: inline-block;
}

nav a:link, nav a:visited {
    background-color: rgb(228, 241, 170); 
    color:crimson;
}

nav a:hover, nav a:active {
    background-color: rgb(190, 214, 82); 
    color:rgb(110, 0, 0);
}

#lista {
    background-color: rgb(255, 255, 255);
}

nav a.thispage {
    background-color: rgb(105, 148, 66);
}

nav a.thispage::before {
    content: "*   ";
}

nav a.thispage::after {
    content: "   *";
}

h1 {
    font-family: serif;
}

h1, h2, h3 {
    text-align: center
}

h2, h3 {
    color:darkred
}

img {
    max-width: 100%;
    text-align: center;
}

#bild2 {
    width: 410px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cascade {
    background-image: url(../img/waterfall2.jpg);
    height: 100px;
    background-size: cover;
    font-size: 2rem;
    color: #ac1010;
}

footer {
    border-top: 2px solid black;
    text-align-last: right;
    font-style: italic;
}